.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #ffffff;
  }
  .footer__parrafo{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #464646;
  }

.socicon {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    margin:10px;
}